<!doctype html>
<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>{{ page.title }}</title>
		{% if page.description %}
			<meta name="description" content="{{ page.description }}" />
		{% endif %}
		
		{% if page.author %}
			<meta name="author" content="{{ page.author }}" />
		{% else %}
			<meta name="author" content="Briza maxima" />
		{% endif %}

		<!-- Mobile viewport optimized: j.mp/bplateviewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/stylesheets/frontpage.css" />
		
		<meta name="robots" content="index,follow" />

		<!-- fix stupid defaults imposed by silly software companies -->
		<meta name="mssmarttagspreventparsing" content="true" />
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
		
		<!-- TODO: use FeedBurner -->
		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Briza ATOM Feed" />
	</head>
	<body class="{{page.site_section}}">
		<div id="container">
			<header>
				<a class="logo" href="/"><img src="/images/logo.png" alt="Briza maxima logo" /></a>
				<ul role="navigation">
					<li class="hem"><a href="/"><span>Hem</span></a></li>
					<li class="vi-ar"><a href="/vi-ar/"><span>Vi är</span></a></li>
					<li class="vi-erbjuder"><a href="/vi-erbjuder/"><span>Vi erbjuder</span></a></li>
					<li class="vi-goer"><a href="/vi-goer/"><span>Vi gör</span></a></li>
					<li class="vi-har-gjort"><a href="/vi-har-gjort/"><span>Vi har gjort</span></a></li>
					<li class="kontakt"><a href="/kontakt/"><span>Kontakt</span></a></li>
				</ul>
			</header>
			<div id="main" role="main">
				<div class="primary">
					{{ content }}
					<img class="illustration" src="/images/graphics/frontpage-illustration.png" alt="Illustration" />
				</div>
			</div>
			<footer>
				<div class="decal"></div>
			</footer>
		</div>
		<div id="second-container">
			<div class="secondary">
				<img class="illustration" src="/images/graphics/hur-ater-man-elephant.png" alt="Hur äter man en elefant?" />
				<h2>Vi kan hjälpa dig...</h2>
				<p>
					att ta din uppgift, ditt projekt eller evenemang som känns svåröverskådligt och ohanterligt. Med vårt stöd, delar du uppgiften i hanterbara deluppgifter och skapar en plan för i vilken ordning det är bäst att ta sig an processen.
				</p>
			</div>
		</div>
		<footer>
			<a href="mailto://info@briza.se">info@briza.se</a> / <a href="callto://0703 98 23 54">0703 98 23 54</a><br/>
			Denna webbsidas innehåll ägs av Briza maxima		
		</footer>
	</body>
</html>