<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset=utf-8 />
        <title>{{ page.title }} | briza.se</title>
        <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif" />
        <link rel="icon" href="/images/favicon.gif" type="image/gif" />
        <meta name="robots" content="index,follow" />
        <meta name="mssmarttagspreventparsing" content="true" />
    </head>
    <body>
        <header>
            <a href="/" class="home">Briza maxima</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/om/">Om Briza maxima</a></li>
                <li><a href="/praktiskt/">Praktiskt</a></li>
            </ul>            
        </header>
        <article>
            {{ content }}
        </article>
        <footer>
            &copy; Briza maxima, unless otherwise noted.
        </footer>
    </body>
</html>